.button {
  @include flex(row, center, center);
  width: 335px;
  padding: 20px 40px;
  gap: 10px;
  background: $button;

  color: $bg;
  font-family: $font-secondary;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  @include transition;
  @media (max-width: 991px) {
    width: 278px;
    padding: 16.597px 33.194px;
    font-size: 16px;
    margin: auto;
  }
  &:hover {
    background: $stroke;
  }
}
