#header {
  border-bottom: 1px solid $stroke;
  background: $bg;
  padding: 20px 0;
  height: 115px;
  @media (max-width: 991px) {
    height: 88px;
  }
}
.header {
  @include flex(row, space-between, center);
  &__left {
    @include flex(row, flex-start, center);
  }

  &__logo {
    @media (max-width: 991px) {
      width: 50px;
      height: 48px;
    }
  }
  &__right {
    @include flex(row, flex-end, center);
    gap: 40px;
    @media (max-width: 991px) {
      gap: 22px;
    }
  }
}

.burger {
  @include flex(column, center, center);
  gap: 4px;
  margin-right: 20px;
  width: 33px;
  height: 33px;
}
.label-menu {
  color: $text;
  font-family: $font-secondary;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  margin-right: 46px;
  @media (max-width: 991px) {
    display: none;
  }
}
.search {
  @include flex(column, center, center);
}

.lang {
  font-family: $font-secondary;
  @media (max-width: 991px) {
    display: none;
  }
}
#language {
  display: none;
}

.custom-select {
  position: relative;
}

.select-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.select-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  z-index: 11;
}

.select-options li {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

#select-arrow {
  transition: transform 0.3s ease-in-out; /* Плавний транзіція для стрілки */
}

/* Відображення селектора після кліку */
.custom-select.active .select-options {
  display: block;
}

.menu {
  /* інші стилі меню */
  display: none; /* Початково ховаємо меню */
}

.menu.open {
  display: block; /* Показуємо меню, коли клас .open присутній */
}

.menu {
  position: absolute;
  top: 115px;
  width: 100%;
  background-color: $bg;
  padding: 50px 0 100px 0;
  z-index: 10;
  border-bottom: 1px solid $stroke;
  @media (max-width: 991px) {
    top: 88px;
    padding: 20px 0 48px 0;
  }
}

.navbar {
  @include flex(row, space-between, flex-start);
  @media (max-width: 991px) {
    @include flex(column, flex-start, flex-start);
  }
}

.list {
  @include flex(column, flex-start, flex-start);
  color: $text;
  font-family: $font-secondary;
  line-height: 150%;
  @media (max-width: 991px) {
    width: 100%;
  }
  li {
    @media (max-width: 991px) {
      width: 100%;
      padding-right: 80px;
    }
  }
  &__one {
    gap: 40px;
    font-size: 24px;
    font-weight: 500;
    @media (max-width: 991px) {
      gap: 15px;
      font-size: 16px;
      margin-bottom: 15px;
    }
    li:first-child {
      @media (max-width: 991px) {
        text-decoration-line: underline;
      }
    }
  }
  &__two {
    gap: 35px;
    font-size: 24px;
    font-weight: 500;
    @media (max-width: 991px) {
      gap: 15px;
      font-size: 16px;
    }
  }
  &__three {
    gap: 25px;
    font-size: 22px;
    font-weight: 400;
    @media (max-width: 991px) {
      margin-top: 30px;
      padding-top: 30px;
      border-top: 1px solid #aba19d;
      gap: 15px;
      font-size: 16px;
    }
  }
}

.toggle-list {
  @include flex(row, flex-start, center);
  gap: 48px;
  cursor: pointer;
  @media (max-width: 991px) {
    @include flex(row, space-between, center);
    gap: 0;
  }
}

/* Спочатку приховуємо випадаючий список */
.dropdown-list {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-top: 15px;
  @media (max-width: 991px) {
    margin-top: 10px;
  }
  li {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    @media (max-width: 991px) {
      font-size: 12px;
    }
    &:first-child {
      text-decoration-line: none;
    }
  }
}

/* Стилі для стрілки вправо */
.toggle-list svg {
  transition: transform 0.3s ease;
}

/* Змінюємо стрілку на вниз, коли список відкритий */
.toggle-list.active svg {
  transform: rotate(180deg);
}
