@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Mulish:wght@800&display=swap');
/* Змінні */

/* Кольори */
$button: #3b4826;
$text: #2c201d;
$stroke: #aba19d;
$bg: #ffffff;
/* Шрифти */
$font-primary: 'Mulish', sans-serif;
$font-secondary: 'Inter', sans-serif;
$headerHeight: 100;
$footerHeight: 100;
